.her {
    position: relative;
    left: 8%;
    top: 5%;
    font-weight: 10;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: unset;
    font-size: 60px;
    margin-top: 20px;
}

.div1 {
    position: absolute;
    left: 8.5%;
    width: 270px;
    height: 500px;
    display: table;
    padding: 12px;
    border: 1px solid rgb(222, 221, 221);
    box-shadow: 5px 5px 5px 5px rgb(126, 115, 115);
}

#div2 {
    position: absolute;
    left: 30%;
    width: 60%;
    display: table;
    height: 440px;
    border: 1px solid rgb(222, 221, 221);
    box-shadow: 4px 4px 4px 4px rgb(222, 220, 221);
}

.up_a {
    cursor: pointer;
}

.del_a {
    cursor: pointer;
}

.up_a:hover {
    background-color: black;
}

.del_a:hover {
    background-color: red;
}

span {
    color: rgb(139, 137, 137);
}

.sub {
    position: relative;
    font-size: 25px;
    left: 2%;
    font-weight: bold;
}

.sub_d1 {
    position: absolute;
    left: 5%;
    display: table;
}

.div_for {
    display: table;
    height: auto;
    width: 800px;
}

li {
    font-size: 16px;
}

.sub_n {
    font-weight: bold;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.i5j {
    width: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    padding-bottom: 4px;
    background-color: green;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.i5m {
    width: 43px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    padding-bottom: 4px;
    background-color: rgb(231, 224, 36);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.i5s {
    width: 40px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(253, 253, 253);
    padding-bottom: 4px;
    background-color: rgb(176, 18, 18);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feedb {
    margin-left: 30px;
    color: rgb(125, 125, 125);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
