.img_t {
    height: 30px;
    width: 30px;
}

.t_in {
    position: relative;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 100px;
    padding: 20px;
    color: black;
}

.but_sign {
    position: absolute;
    right: 200px;
    padding: 10px;
    background-color: dodgerblue;
    border-radius: 5px;
    color: aliceblue;
    font-size: 16px;
    border-color: dodgerblue;
}

.h_page {
    position: absolute;
    top: 30%;
    left: 11%;
}

.t_in1 {
    font-size: 65px;
    font-weight: bolder;
}

.notes {
    font-size: 37px;
    width: 600px;
}

.large_img {
    text-align: right;
}

.h1 {
    top: 40%
}
